{% load staticfiles %}
<html>
    <head>
        <title>Feedbacks</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
        <link href="http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
        	<a href="{% url 'feedback_new' %}" class="btn btn-info"><span>새로운 피드백</span></a>
	        <h1><a href="/">Feedbacks</a></h1>
	    </div>
	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
	            {% block content %}
	            {% endblock %}
	            </div>
	        </div>
	    </div>
    </body>
</html>